# {{ ansible_managed }}

; This file contains the various settings for the New Relic PHP agent. There
; are many options, all of which are described in detail at the following URL:
; https://docs.newrelic.com/docs/agents/php-agent/configuration/php-agent-configuration
;

; If you use a full path to the extension you insulate yourself from the
; extension directory changing if you change PHP installations or versions.
; If you do not use an absolute path then the file must be installed in the
; active configuration's extension directory.
extension = "newrelic.so"

[newrelic]

; Settings through newrelic_config_combined
; https://github.com/typisttech/trellis-newrelic-php#role-variables
;

{% for key, value in newrelic_config_combined.iteritems() -%}
newrelic.{{ key }} = {{ value | to_nice_json }}
{% endfor -%}
